.alert-box {
  position: absolute;
  z-index: 99;
  top: 100px;
  left: calc(50% - 200px);
  width: 100%;
  border-radius: 4px;
  padding: 20px 20px;
  background: $color-bg-tertiary;
  max-width: 400px;
  box-shadow: 1px 1px 8px #00000040;
  font-family: $base-font-family;
  font-size: 18px;
}

.alert-text {
  min-height: 40px;
}

.alert-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 20px 50px 0;
}

.alert-button {
  width: 100px;
  height: 40px;
  cursor: pointer;
}

.alert-button-confirm {
  background-color: #cceacc;
}

.alert-button-cancel {
  background-color: #f1d5d5;
}