.breadcrumbs {
  background-color: $color-bg-tertiary;
  width: 100%;
  min-width: $site-width + px;
}

.breadcrumbs-wrapper {
  display: flex;
  list-style: none;
  padding: 29px 30px 26px;
}

.breadcrumbs-item {
  font-size: 16px;
  font-family: $base-jp-font-reg;
  margin-right: 12px;
  letter-spacing: 0.09em;
}

.breadcrumbs-link {
  color: $color-text-primary;

  &:hover {
    text-decoration: underline;
  }
}