<template>
  <div>
    <div class="login">
      <button @click="toggleModal()" class="login-link" v-if="getLogin == 'false'">{{ modalText }}</button>

      <button @click="logout()" class="login-link" v-if="getLogin == 'true'">LOGOUT</button>
    </div>
    <div class="login-modal" :class="{'open': getModalOpen}">
      <!-- Login -->
      <div class="login-modal-wrapper" v-if="formSelected == 'login'">
        <p class="login-modal-header">LOGIN</p>
        <span class="login-modal-error">{{ loginError }}</span>
        <form ref="login" @submit.prevent="onSubmit" id="login" class="login-modal-form">
          <label for="login-email" class="login-label">Email</label>
          <input type="email" id="login-email" v-model="loginEmail" class="login-input">
          <label for="login-pass" class="login-label">Password</label>
          <input type="password" id="login-pass" v-model="loginPass" class="login-input">
          <input type="button" @click="submitLogin" class="login-button" value="LOGIN">
          <p class="login-text">No account yet? 
            <span class="login-link" @click="switchForm('register')">REGISTER HERE</span>
          </p>
        </form>
      </div>
      <!-- Register -->
      <div class="login-modal-wrapper" v-if="formSelected == 'register'">
        <p class="login-modal-header">REGISTER</p>
        <span class="login-modal-error">{{ regError }}</span>
        <form ref="register" @submit.prevent="onSubmit" id="reg" class="login-modal-form">
          <label for="reg-email" class="login-label">Email</label>
          <input type="email" id="reg-email" v-model="regEmail" class="login-input">
          <label for="reg-pass" class="login-label">Password</label>
          <input type="password" id="reg-pass" v-model="regPass" class="login-input">
          <label for="reg-confirm" class="login-label">Confirm Password</label>
          <input type="password" id="reg-confirm" v-model="regConfirm" class="login-input">
          <input type="button" @click="submitRegister" class="login-button" value="REGISTER">
          <p class="login-text">Already have an account? 
            <span class="login-link" @click="switchForm('login')">LOGIN HERE</span>
          </p>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import Breadcrumbs from '~/components/Breadcrumbs.vue'
import { mapGetters, mapMutations, mapActions } from 'vuex'

export default {  
  data() {
    return {
      modalText: 'LOGIN',
      formSelected: 'login',
      loginError: '',
      loginEmail: '',
      loginPass: '',
      regError: '',
      regEmail: '',
      regPass: '',
      regConfirm: ''
    }
  },

  computed: {
    ...mapGetters('user', ['getAuth', 'getRegStat', 'getLogin', 'getModalOpen', 'getRegMsg', 'getLoginStat'])
  },

  watch: {
    getLoginStat: function () {
      if (this.getLoginStat == true) {
        localStorage.setItem('isLoggedIn', true);
        localStorage.setItem('auth', this.getAuth);
        this.setLogin("true");
        this.setNotification('User logged in.');   
        this.resetFields();
        this.toggleModal();
        this.setLoginStat(null);  
      }

      else if (this.getLoginStat == false) {
        localStorage.setItem('isLoggedIn', false);
        localStorage.setItem('auth', "");
        this.setLogin("false");
        this.setNotification('Login Failed!');
        this.setLoginStat(null);
      }
    },

    getRegStat: function() {
      if(this.getRegStat == true) {
        this.setNotification('Registered successfully.');
        this.resetFields();
        this.setRegStat(null);
        this.switchForm('login');
        this.setRegStat(null);
      }
      else if(this.getRegStat == false) {
        this.setNotification(this.getRegMsg);
        this.setRegStat(null);
      }
    }
  },

  methods: {
    ...mapMutations('user', ['setAuth', 'setLogin', 'setModalOpen', 'setRegStat', 'setLoginStat']),
    ...mapMutations('notification', ['setNotification']), 
    ...mapActions('user', ['userRegister', 'userLogin']),

    toggleModal() {
      if (this.getModalOpen) {
        this.setModalOpen(false);
        this.modalText = "LOGIN"
      }
      else {
        this.formSelected = 'login'
        this.setModalOpen(true);
        this.modalText = "CLOSE"
      }

      this.resetFields();
    },

    switchForm(data) {
      this.resetFields();
      this.formSelected = data;
    },

    submitLogin() {
      let notEmpty;

      if(this.loginEmail != "" && this.loginPass != "") {        
        this.loginError = "";
        notEmpty = true;
      }
      else {
        this.loginError = "Input email and password.";
        return false;
      }


      if(notEmpty) {
        this.userLogin({
          email: this.loginEmail,
          pass: this.loginPass
        })       
      }
    },
    submitRegister() {
      let notEmpty;
      let matchPass;

      if(this.regEmail != "" && this.regPass != "" && this.regConfirm != "") {        
        this.regError = "";
        notEmpty = true;
      }
      else {
        this.regError = "Please fill in all fields.";
        return false;
      }

      if (this.regPass == this.regConfirm) {
        this.regError = "";
        matchPass = true;
      }
      else{
        this.regError = "Passwords must match!";
        matchPass = false;
      }


      if(notEmpty && matchPass) {
        this.userRegister({
          email: this.regEmail.toString(),
          pass: this.regPass.toString()
        })        
      }
    },

    logout(){
      localStorage.setItem('isLoggedIn', false);
      localStorage.setItem('auth', "");
      this.setAuth(false);
      this.setLogin("false");
      this.$router.push('/');
      this.setNotification('User logged out.');
    },

    resetFields() {
      this.regError = "";
      this.regEmail = "";
      this.regPass = "";
      this.regConfirm = "";
      this.loginError = "";
      this.loginEmail = "";
      this.loginPass = "";
    }
  }
}
</script>

